@import "style.scss";


body {
    background-color: rgb(223, 80, 80);
    color: rgb(169, 0, 0);

    h1,
    h2,
    H6 {
        color: rgb(139, 29, 29);

    }

    .message {
        color: rgb(59, 26, 26);
    }

}